[Desktop Entry]
Name=AetherSDR
Comment=Linux-native SDR client for FlexRadio
Exec=AetherSDR
Icon=aethersdr
Type=Application
Categories=HamRadio;Audio;Utility;AudioVideo;
Keywords=SDR;Hamradio;Radio;Amateur;
Terminal=false
StartupWMClass=AetherSDR
